<a href="https://colab.research.google.com/github/Terry-Migwi/Week4-IP-Colab-Notebook/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_05_Terry_Migwi_DataWorkings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

RESEARCH QUESTION

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

BONUS QUESTIONS (Optional)

What is the most popular hour for returning cars?

What station is the most popular?

Overall?
At the most popular picking hour?

What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

Overall?
At the most popular picking hour?

Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

IMPORTING REQUIRED LIBRARIES

In [0]:
#import pandas library
import pandas as pd

#importing numpy library

import numpy as np

READING OUR DATA

In [0]:
#importing our csv data
df = pd.read_csv('/content/Autolib_dataset (2).csv')

PREVIEWING OUR DATA

In [0]:
#viewing the head
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [0]:
df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 22 columns]

In [0]:
#viewing the first 10 records of our data
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

Accessing information about our datasets

In [0]:
#investigating the size of our dataset
df.shape

(5000, 25)

In [0]:
#investigating the datatypes of our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [0]:
#viewing columns
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Postal code', 'Public name', 'Rental status', 'Slots',
       'Station type', 'Status', 'Subscription status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [0]:
#checking data types in each column
df.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
ID                     object
Kind                   object
Postal code             int64
Public name            object
Rental status          object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [0]:
#checking the number of unique items in categorical data
df.Address.unique()
df.Address.nunique()

1104

In [0]:
#checking the number of unique items in categorical data
df.City.unique()
df.City.nunique()

88

In [0]:
#checking the number of unique items in categorical data
df.ID.unique()
df.ID.nunique()

1105

In [0]:
#checking the number of unique items in categorical data
df.Kind.unique()
df.Kind.nunique()

4

In [0]:
#checking the number of unique items in categorical data
df.Status.unique()
df.Status.nunique()

3

In [0]:
#descriptive statistics
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

CLEANING OUR DATASET

Validity

In [5]:
#checking which columns are relevant and dropping irrelevant columns
#dropping displayed comments and scheduled at as both columns contain rows that are mostly blank 
#and geo point column as it is irrelevant to our analysis
#
df.drop(["Displayed comment", "Scheduled at", "Geo point"], axis = 1, inplace = True)
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Postal code', 'Public name', 'Rental status', 'Slots',
       'Station type', 'Status', 'Subscription status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [0]:
#checking data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Postal code          5000 non-null   int64
 11  Public name          5000 non-null   object
 12  Rental status        5000 non-null   object
 13  Slots                5000 non-null   int64
 14  Station type         5000 non-null   object
 15  Status               5000 non-null   object
 16  Subscription status  5000 non-null   object
 17  year                 5000 non-null   int64
 18  month                5000 non-null   int64
 19  day                  5000 non-null   int64
 20  hour                 5000 non-null   int64
 21  minute               5000 non-null   int64
dtypes: int64(12), object(10)
memory usage: 859.5+ KB

Accuracy

In [0]:
#checking for accuracy of our data
#checking if car is equal to bluecar counter
cars_check = df['Cars'] == df['Bluecar counter']
cars_check
#we conclude accuracy of that data

0       True
1       True
2       True
3       True
4       True
        ...
4995    True
4996    True
4997    True
4998    True
4999    True
Length: 5000, dtype: bool

In [0]:
#checking for charging status
slot_check = df[(df["Charge Slots"] > 0) & (df["Charging Status"] == 'operational')]
slot_check
#we conclude accuracy of that data

                              Address  Cars  Bluecar counter  ...  day  hour  minute
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
10                     14 rue Censier     0                0  ...    1     4      39
14         8 Boulevard Richard Lenoir     0                0  ...    6     8       0
24         15 avenue Ãmile Deschanel     2                2  ...    4    23      27
25             182 Boulevard Voltaire     0                0  ...    5    21       6
...                               ...   ...              ...  ...  ...   ...     ...
4985  6 place du PrÃ©sident Mithouard     2                2  ...    4     2      35
4988                     62 Rue Ramey     5                5  ...    8    11       0
4992                  3 avenue d'Ivry     0                0  ...    9    23       1
4996                37 rue de Dantzig     4                4  ...    4    16      56
4997                   142 rue du Bac     1                1  ...    1     7       1

[994 rows x 22 columns]

Completeness

In [0]:
#checking for missing values
df.isnull().values.any()
#hence we conclude there are no missing values in our dataset

False

In [0]:
#fixing column names
#viewing columns
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'ID',
       'Kind', 'Postal code', 'Public name', 'Rental status', 'Slots',
       'Station type', 'Status', 'Subscription status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

In [6]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.columns

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city', 'id',
       'kind', 'postal_code', 'public_name', 'rental_status', 'slots',
       'station_type', 'status', 'subscription_status', 'year', 'month', 'day',
       'hour', 'minute'],
      dtype='object')

Consistency

In [0]:
#checking and dropping duplicates
#
df[df.duplicated()]

#now working with our non-duplicated data

Empty DataFrame
Columns: [address, cars, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, id, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, year, month, day, hour, minute]
Index: []

Uniformity

In [0]:
#checking for appropriate datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   displayed_comment    111 non-null    object
 9   id                   5000 non-null   object
 10  kind                 5000 non-null   object
 11  geo_point            5000 non-null   object
 12  postal_code          5000 non-null   int64
 13  public_name          5000 non-null   object
 14  rental_status        5000 non-null   object
 15  scheduled_at         47 non-null     object
 16  slots                5000 non-null   int64
 17  station_type         5000 non-null   object
 18  status               5000 non-null   object
 19  subscription_status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

Exporting cleaned our data

In [0]:
#converting our cleaned dataset to csv
df.to_csv('autolib.csv')

CONNECTING TO OUR DATABASE

In [8]:
## loading the sql extension
%load_ext sql

# Connecting to our in memory sqlite database

%sql sqlite://

'Connected: @None'

IMPORTING OUR CSV FILES

In [9]:
# Loading our table from the respective CSV files
# We will export the dataset that we have cleaned using python
#
with open('/content/autolib.exported.csv','r') as f:
    Cars_dataset = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Cars_dataset;
%sql PERSIST Cars_dataset;
%sql SELECT * FROM Cars_dataset LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, '2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', None, 'paris-suffren-2', 'STATION', '48.857, 2.2917', 75015, 'Paris/Suffren/2', 'operational', None, 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43),
 (1, '145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', None, 'paris-raymondlosserand-145', 'STATION', '48.83126, 2.313088', 75014, 'Paris/Raymond Losserand/145', 'operational', None, 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24),
 (2, '2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', None, 'lebourget-johnfitzgeraldkennedy-2', 'STATION', '48.938103, 2.4286035', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', None, 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14),
 (3, '51 Rue EugÃ¨ne OudinÃ©', 3, 3, 1, 0, 1, 'operational', 'Paris', None, 'paris-eugeneoudine-51', 'STATION', '48.8250327, 2.3725162', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', None, 2, 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37),
 (4, '6 avenue de la Porte de Champerret', 3, 3, 0, 0, 0, 'nonexistent', 'Paris', None, 'paris-portedechamperret-6', 'PARKING', '48.8862632, 2.2874511', 75017, 'Paris/Porte de Champerret/6', 'operational', None, 3, 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23)]

ANSWERING QUESTIONS

In [10]:

#adding a new column intdate into our data
%%sql
ALTER TABLE Cars_dataset
ADD intdate int;
SELECT * FROM Cars_dataset LIMIT 5;

 * sqlite://
Done.
Done.

[(0, '2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', None, 'paris-suffren-2', 'STATION', '48.857, 2.2917', 75015, 'Paris/Suffren/2', 'operational', None, 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, None),
 (1, '145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', None, 'paris-raymondlosserand-145', 'STATION', '48.83126, 2.313088', 75014, 'Paris/Raymond Losserand/145', 'operational', None, 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24, None),
 (2, '2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', None, 'lebourget-johnfitzgeraldkennedy-2', 'STATION', '48.938103, 2.4286035', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', None, 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14, None),
 (3, '51 Rue EugÃ¨ne OudinÃ©', 3, 3, 1, 0, 1, 'operational', 'Paris', None, 'paris-eugeneoudine-51', 'STATION', '48.8250327, 2.3725162', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', None, 2, 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37, None),
 (4, '6 avenue de la Porte de Champerret', 3, 3, 0, 0, 0, 'nonexistent', 'Paris', None, 'paris-portedechamperret-6', 'PARKING', '48.8862632, 2.2874511', 75017, 'Paris/Porte de Champerret/6', 'operational', None, 3, 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23, None)]

In [11]:
#updating our new column with concatenated values
%%sql
UPDATE Cars_dataset

SET [intdate] = (year|| "" ||month|| "" ||day|| "" ||hour|| "" ||minute);

SELECT * FROM Cars_dataset LIMIT 3;

 * sqlite://
5000 rows affected.
Done.

[(0, '2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', None, 'paris-suffren-2', 'STATION', '48.857, 2.2917', 75015, 'Paris/Suffren/2', 'operational', None, 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, 2018481143),
 (1, '145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', None, 'paris-raymondlosserand-145', 'STATION', '48.83126, 2.313088', 75014, 'Paris/Raymond Losserand/145', 'operational', None, 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24, 201846724),
 (2, '2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', None, 'lebourget-johnfitzgeraldkennedy-2', 'STATION', '48.938103, 2.4286035', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', None, 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14, 2018432014)]

In [27]:
#
%%sql

ALTER TABLE Cars_dataset
ADD difference int;
SELECT * FROM Cars_dataset LIMIT 2;

 * sqlite://
Done.
Done.

[(0, '2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', None, 'paris-suffren-2', 'STATION', '48.857, 2.2917', 75015, 'Paris/Suffren/2', 'operational', None, 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, 2018481143, None),
 (1, '145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', None, 'paris-raymondlosserand-145', 'STATION', '48.83126, 2.313088', 75014, 'Paris/Raymond Losserand/145', 'operational', None, 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24, 201846724, None)]

In [12]:
#
%%sql
SELECT t1.station_type, t2.cars - t1.station_type AS [val]
FROM Cars_dataset t1
INNER JOIN Cars_dataset t2 ON t1.station_type = t2.station_type
AND t1.intdate < t2.intdate

 * sqlite://
Done.

In [0]:
#
%%sql
UPDATE Cars_dataset

SET [difference] = ;

SELECT * FROM Cars_dataset LIMIT 3;

In [24]:
#ordering our dataset with the intdate column
%%sql
CREATE VIEW if NOT EXISTS ordered_view AS

SELECT * FROM Cars_dataset

ORDER BY [intdate] ASC; 

SELECT [station_type], [intdate] FROM ordered_view LIMIT 3;

 * sqlite://
Done.
Done.

[('station', 2018492358), ('station', 2018492358), ('station', 2018492356)]

QUESTION ONE


What is the most popular hour for returning cars?

In [57]:
#
%%sql 
SELECT count(intdate) 
FROM ordered_view 
WHERE

 * sqlite://
Done.

[(2018492358,)]

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [59]:
#
%%sql 
SELECT MAX(intdate), bluecar_counter FROM Cars_dataset
WHERE [city] = 'Paris'

 * sqlite://
Done.

[(2018492358, 0)]

QUESTION TWO 

What station is the most popular?
Overall?
At the most popular picking hour?

In [0]:
#
%%sql
SELECT station_type, COUNT(station_type)
FROM Cars_dataset GROUP BY [station_type]
ORDER BY COUNT(station_type) DESC;

 * sqlite://
Done.

[('station', 4615), ('full_station', 382), ('subs_center', 3)]

At the most popular picking hour?

In [60]:
#
%%sql
SELECT station_type, MAX(intdate)
FROM Cars_dataset

 * sqlite://
Done.

[('station', 2018492358)]

QUESTION THREE (a)

What postal code is the most popular for picking up Blue cars?

In [0]:
#
%%sql
SELECT postal_code, COUNT(bluecar_counter)
FROM Cars_dataset GROUP BY [bluecar_counter] ORDER BY COUNT(bluecar_counter) DESC;

 * sqlite://
Done.

[(75010, 1447),
 (94140, 672),
 (75007, 663),
 (75018, 636),
 (94120, 628),
 (94000, 574),
 (92350, 341),
 (93150, 39)]

QUESTION THREE (b)

Does the most popular station belong to that postal code?

Overall?
At the most popular picking hour?

In [0]:
#confirming if the postal code obtained is equal to the station type
%%sql
SELECT [station_type] FROM Cars_dataset
WHERE [postal_code] == 75010 LIMIT 3;

#from my results, the most popular postal code matches the most popular station type

 * sqlite://
Done.

[('station',), ('station',), ('station',)]

QUESTION FOUR

Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars

In [0]:
#considering utilib counter

SELECT postal_code, COUNT(utilib_counter)
FROM Cars_dataset GROUP BY [utilib_counter] ORDER BY COUNT(utilib_counter) DESC;

 * sqlite://
Done.

[(75018, 4714), (92500, 274), (95880, 12)]

In [0]:
%%sql
SELECT [station_type] FROM Cars_dataset
WHERE [postal_code] == 75018 LIMIT 3;

 * sqlite://
Done.

[('station',), ('station',), ('station',)]